
footer {
  margin-top: 20%;
  width: auto;
  height: 260px;
  left: 0px;
  top: 764px;

  background: #05A88D;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  background-color: #05A88D;
}

.text {
  position: relative;
  width: 437px;
  height: 46px;
  left: 40px;
  top: 100px;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #FFFFFF;

}

.contact {
  width: 160px;
  height: 17px;
  left: 1241px;
  top: 58px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.phone {
  position: relative;
  width: 226px;
  height: 30px;
  left: 1200px;
  top: 28px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: #F1E67D;
}

.address {
  position: relative;
  width: 189px;
  height: 21px;
  left: 1200px;
  top: 55px;

  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #FFFFFF;
}

.line {
  position: relative;
  width: 85%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  border: 1px solid #FFFFFF;
}

.footer__right{

}

.footer__bottom {
  position: relative;
  width: 198px;
  height: 14px;
  left: 92px;
  top: 120px;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  text-transform: capitalize;

  color: #FFFFFF;

}