@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

*, *::after, *::before{
  box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

table{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    font-size: 16px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
}

th{
    border: 2px;
    border-style: solid;
    border-collapse: collapse;
}

td{
    border: 2px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

.tdTd {
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
}

.tdTimeCathedra{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-collapse: collapse;
}

.btnChange{
    position: relative;
    left: 80%;
    margin: 20px;
}

.btnChange a {
   padding: 5px 10px;
   text-decoration: none;
   color: #8a8986;
   border-radius: 25px;
   border: 3px solid #8a8986;
}
.btnChange a:hover {
   color: #c7c5c1;
   background: #8a8986;
}
.btnChange a span {
   opacity: 0;
   padding-left: 5px;
   padding-right: 5px;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}
.btnChange a:hover span {
   opacity: 1;
   padding-left: 10px;
   padding-right: 10px;
   color: #BDB9AB;
}

.css-0{
    border: none;
}

.css-5cm1aq{
    border: none;
}

.css-0{
    width: 28px;
    height: 50px;
    font-size: 8px;
    display: table-cell;
    border-collapse: collapse;
}

.css-5cm1aq{
    width: 28px;
    height: 50px;
    font-size: 8px;
    display: table-cell;
    border-left: solid 1px;
    border-collapse: collapse;
}

.nameTeacher{
    border-style: none;
}

.tableGroup {
    width: auto;
    margin: 20px;
}

.navbar {
    width: 80%;
    margin: 8px 16px;
    display: flex;
    justify-content: end;
}
.btn {
    position: absolute;
    top: 160px;
    left: 220px;
}
.btn a {
   padding: 5px 10px;
   text-decoration: none;
   color: #8a8986;
   border-radius: 25px;
   border: 3px solid #8a8986;
}
.btn a:hover {
   color: #c7c5c1;
   background: #8a8986;
}
.btn a span {
   opacity: 0;
   padding-left: 5px;
   padding-right: 5px;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}
.btn a:hover span {
   opacity: 1;
   padding-left: 10px;
   padding-right: 10px;
   color: #BDB9AB;
}

.link {
    text-decoration: none;
}

.nameGroup {
    font-size: 48px;
    margin-left: 100px;
}

.teacherName{
    display: inline;
    text-transform: capitalize;
}

.nameGroup{
    marin-bottom: 4px;
}

.flow__li{
    width: max-content;
    height: auto;
    margin: 10px 60px;

    display: inline-block;
    list-style-type: none;
}


legend{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    margin-bottom: 44px;

    left: 50px;
    border: 2px;
    border-style: solid;
    border-radius: 12px;
}

.flow__li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    position:relative;
}

.flow__li a:after{
    background-color: black;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.flow__li a:hover:after,
.flow__li a:focus:after{
    width: 100%;
}

.groupsToFlow__li{
    width: max-content;
    height: auto;
    margin: 10px 30px;

    display: inline-block;
    list-style-type: none;
}

.groupsToFlow__li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    position:relative;
}

.groupsToFlow__li a:after{
    background-color: black;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.groupsToFlow__li a:hover:after,
.groupsToFlow__li a:focus:after{
    width: 100%;
}

.inputTeacher[type=text]{
    width: 170px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(searchicon.png);
    background-size: 25px 25px;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.inputTeacher[type=text]:focus{
    width: 20%;
}

.labelSirname{
    margin: 20px 20px 20px 40px;
}

.select {
    /*display: block;*/
    padding: 5px 10px;
    margin: 20px 20px 20px 40px;
    max-width: 170px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}





